/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: avenir;
  src: url('avenir-next-font.ttf');
 }

 * {
  font-family: avenir;
}

 body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  background-color: #938e94
 }

 .header {
  background-color: #557A95;
  text-align: center;
  font-family: avenir, "Times New Roman", Times, serif;
 }

 .header h2{
  margin: 8px;
 }

 .header a{
  text-decoration: none;
  color: black; 
 }

 .footer p{
  text-align: center;
  margin: 4px;
 }

 .body-1 {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* background-color: #938e94; */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
 }

 .body-1, .show-body{
  flex-direction: column;
 }

 .body-2 {
  /* background-color: #938e94; */
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
 }

 #search-instructions {
  margin-bottom: 24px;
 }

 #search {
  display: flex;
 }

 #results {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 48px;
 }

 @media only screen and (max-width: 600px) {
  #search {
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }

  #results {
    flex-direction: column;
  }
 }

 #submit {
  margin-bottom: 42px;
  display: flex;
  /* padding-top: 20px; */
  align-items: center;
  justify-content: center;
 }

 .card {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: avenir; */
  height: 150px;
  /* border: 2px solid black; */
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
 }

 img {
  height: auto;
  width: 50px;
  border-radius: 24px;
 }

 .card-top, .card-bottom {
  display: flex;
  flex: 1;
  /* background-color: lavender; */
  background-color: #a39fb4;
 }

 .card-top {
  padding: 8px;
  gap: 12px;
  align-items: center;
 }

 .card-bottom {
  display: flex;
  padding: 8px;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
 }

 .airport-info {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
 }

 .airport-code {
  font-weight: bold;
 } 

 .datetime-info {
  display: flex;
  padding: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
 }

 .search {
  display: flex;
  gap: 4px;
 }

 .search-field select {
  border-radius: 8px;
  max-width: 120px;
 }

 .header,
 .footer {
  padding: 16px;
 }

 .footer {
  background-color: #B1A296;
 }

 #booking-form #form-button{
  text-align: center;
 }

 .new-passenger-container{
  margin: 24px;
 }

 .form-field{
  margin: 4px;
 }

 #new-booking-title h3{
  margin-bottom: 30px;
 }

 .summary-card {
  width: 400px;
  max-width: 350px;
  /* border-style: inset; */
  margin-bottom: 24px;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: avenir; */
  /* height: 150px; */
  /* border: 2px solid black; */
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* display: flex; */
  /* flex-direction: column; */
  overflow: hidden;
 }

 #summary-title p{
  font-weight: bold;
  text-align: center;
 }

 /* #summary-origin, #summary-destination{
  font-weight: bold;
  border-style: inset;
  padding: 4px;
 } */

 .summary-locations {
  background-color: #7395AE;
  padding: 8px;
  border-radius: 12%;
 }

 #flight-summary-container-1 {
  /* background-color: lightgoldenrodyellow; */
 }

 #flight-summary-container-1 p{
  margin: 0;
 }

 #flight-summary-container-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  /* background-color: lightblue; */
 }

 #flight-summary-container-3 {
  /* background-color: lavender; */
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #flight-summary-container-1,
 #flight-summary-container-2,
 #flight-summary-container-3 {
  padding: 12px;
  /* font-family: avenir; */
  background-color: #a39fb4;
 }

 #summary-flighttime-info {
  display: flex;
  justify-content: center;
  flex-direction: column; 
 }

 #flight-summary-container-3 p{
  margin: 0;
  padding: 2px;
 }

 #passenger-summary-title h3{
  background-color: #B1A296;
  text-transform: capitalize;
  margin: 0;
  padding: 12px;
  text-align: center;
 }

 .summary-card p {
  margin: 0;
 }

 #passenger-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .passenger-count {
  padding: 8px;
  margin-bottom: 12px;
  background-color: #7395AE;
 }

 .passenger-count p{
  text-align: center;
 }

 .passenger-info {
  background-color: #a39fb4;
  padding: 8px;
 }
 
#booking-number p {
  background-color: #B1A296;
  padding: 12px;
}

#submit input,
#form-button input,
#search-button{  
  background-color: #7395AE;
  border-radius: 17%;
  font-size: 16px;
  font-weight: bold;
  border-style: none;
  padding: 12px 10px 10px;
  /* font-family: serif; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: 0.3s ease all;
}



/* background-color: #7395AE;
    border-radius: 17%;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    padding: 10px;
    font-family: serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} */

.p-email {
  margin-left: 3px;
}



#form-button input:hover,
#submit input:hover,
#search-button:hover {
  background-color: #557A95
}

#form-button input:active,
#submit input:active {
  background-color: #557A95
}

#search {
  flex-direction: column;
  gap: 6px;
  margin-top: 16px;
}

#search p {
  margin: 6px 0;
  text-align: center;
}

.search-field {
  text-align: center;
}

.search-field select {
  text-align: center;
  padding: 2px;
}

.search-field select:focus {
  outline: none;
}

#search-button {
  margin: 16px 0 20px 0
}